/* EXPLORACION ESPACIAL */

#sec-exploracion{
    @include section-width-height-100;
    position: relative;
    .video-de-fondo{
        @include video-de-fondo-style;
    }
    .contenido{
        position: absolute;
        @include contenido-width80-padding-align;
        padding-left: 150px; 
        z-index: 1;
        .flex-container{
            display: flex;
            flex-direction: column;
            .grid-container{
                padding-top: 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                "encabezado enlace1"
                "encabezado enlace2";
                .subtitulo{
                    grid-area: encabezado;
                    background-color: $color-secundary-background;
                    padding: 10px;
                    align-self: center;
                }
                .subtitulo__direccion-1{
                    grid-area: enlace1;
                    background-color: rgb(46, 46, 46);
                    padding: 0px 10px;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .subtitulo__direccion-2{
                    grid-area: enlace2;
                    background-color: $color-terciary-background;
                    padding: 0px 10px;
                    width: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}