/* SECCION - OCEANOS */

#sec-oceanos{
    width: 100%;
    background-color: $color-secundary-background;
    .contenido{
        @include contenido-width80-padding-align;
        .grid-container{
            padding-top: 25px;
            display: grid;
            grid-template-columns: 25% 25% 50%;
            grid-template-rows: 1fr 1fr 0.6fr;
            grid-template-areas: 
            "atlantico pacifico imagen"
            "indico artico imagen"
            "antartico antartico imagen";
            gap: 10px;
            overflow-y: hidden;
            #atlantico{
                grid-area: atlantico;
                &:hover{
                    @include efecto-nota(-2deg);
                }
            }
            #pacifico{
                grid-area: pacifico;
                &:hover{
                    @include efecto-nota(2deg);
                }
            }
            #indico{
                grid-area: indico;
                &:hover{
                    @include efecto-nota(-2deg);
                }
            }
            #artico{
                grid-area: artico;
                &:hover{
                    @include efecto-nota(2deg);
                }
            }
            #antartico{
                grid-area: antartico;
                overflow-y: hidden;
                &:hover{
                    @include efecto-nota(-0.5deg);
                }
            }
            #imagen-oceanos{
                grid-area: imagen;
                background-image: url(../img/Oceanos/oceanos.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
            .descripcion{
                background-color: $color-primary-background;
                padding: 15px;
                p{
                    padding: 10px 0px 10px 0px;
                }
            }
        }
    }
}