/* CONTACTANOS */

#sec-contacto{
    @include section-width-height-100;
    position: relative;
    .video-de-fondo{
        @include video-de-fondo-style;
    }
    .contenido{
        @include contenido-width80-padding-align;
        padding-left: 150px;
        position: absolute;
        z-index: 1;
        form{
            font-family: 'Noto Sans';
            font-size: 17px;
            display: grid;
            grid-template-columns: 30% 30%;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "nom ape"
            "email tel"
            "texto boton";
            gap: 10px;
            margin-top: 15px;
            padding-top: 15px;
            align-items: end;
            .nom{
                grid-area: nom;
            }
            .ape{
                grid-area: ape;
            }
            .email{
                grid-area: email;
            }
            .tel{
                grid-area: tel;
            }
            .texto{
                grid-area: texto;
            }
            .boton{
                grid-area: boton;
                height: fit-content;
                padding: 5px 10px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                .boton-volver{
                    border: 1px solid white;
                    border-radius: 25px;
                    padding: 5px 20px;
                    &:hover{
                        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(24, 64, 145));
                    }
                }
                .boton-enviar{
                    @extend .boton-volver;
                    background-color: rgb(40, 126, 40);
                    &:hover{
                        background-image: linear-gradient(to right, rgb(40, 126, 40), rgb(24, 64, 145));
                    }
                }
            }
            a{
                text-decoration: none;
            }
            input{
                width: 96%;
                color: black;
                padding: 5px 10px;
                margin-top: 5px;
                border-radius: 25px;
                transition: background-color 0.5s;
                &:focus{
                    background-color: rgb(169, 242, 202);
                }
            }
        }
    }    
}