/* PALETA DE COLORES */
$color-primary-background: rgb(34, 33, 33, 1);
$color-secundary-background: rgb(23, 23, 23);
$color-terciary-background: rgb(71, 70, 70);
$color-primary-font:rgb(239, 239, 239);

/* TIPOGRAFIA */
$title-font-1: 'Montserrat';
$title-size-1: 60px;
$title-font-2: 'Puritan';
$title-size-2: 25px;
$paragraph-font: 'Noto Sans';

/* MAPS */
$redes: (
    facebook: #3662c1,
    instagram: #f17b44,
    linkedin: cyan,
)